:root {
    --primary-background-color: #dbc1ac;
    --primary-text-color: #967259;
    --topnavbar-color: #38220f;
    --sidenavbar-color: #634832;
    --sidenavbar-text-color: #ece0d1;
    --active: #967259;
}
