:root {
    --primary-background-color: #15202B;
    --primary-text-color: #8899a6;
    --topnavbar-color: #22303C;
    --sidenavbar-color: #192734;
    --sidenavbar-text-color: #ffffff;
    --active: #8899a6;
}
