:root {
    --primary-background-color: #fafafa;
    --primary-text-color: #484b6a;
    --topnavbar-color: #9394a5;
    --sidenavbar-color: #e4e5f1;
    --sidenavbar-text-color: #9394a5;
    --active: #484b6a;
}
