@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    --color-primary: #8899a6;
    --color-primary-dark: #15202B;
    --color-secondary: #22303C;
    --color-error: #ff0000;
    --color-success: #8899a6;
    --border-radius: 4px;
    margin: 0px;
    height: 100vh;
    font-size: 18px;
    background: var(--color-primary);
}

.title {
    display: flex;
    gap: 10px;
    font-size: 40px;
    width: 100%;
    vertical-align: top;
    justify-content: center;
    font-family: 'Ubuntu';
}

.wrapper {
    width: 400px;
    max-width: 400px;
    margin: auto;
    padding: 32px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

.form {
    font-family: 'Ubuntu';
}

input {
    font-family: 'Ubuntu';
    padding: 9px 16px;
    width: 75%;
    margin: 10px 0;
    font-size: 15px;
    border-width: thin;
}

input:focus {
    border: 2px solid #22303C;
    outline: none;
}

.continueButton {
    font-family: 'Ubuntu';
    padding: 4px 4px;
    margin: 40px 0 10px 0;
    width: auto;
    border-width: thin;
}

.continueButton:hover {
    background-color: transparent;
    color: #15202B;
    cursor: pointer;
    
}
