@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {

}

h1 {
    color: #8899A6;
    font-size: 3.2rem;
}

i {
    font-size: 3.2rem;
}

timer-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    width: min(42.5rem, 100);
    margin: auto;
    margin-inline: auto;
}