@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    height: 100%;
}

body {
    background: #15202B;
}

.top_navbar {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #22303C;
    box-shadow: 1px 0 2px rgba(0,0,0,0.125);
    display: flex;
    align-content: center;
}

.top_navbar h1 {
    font-size: 25px;
    padding-right: 30px;
    color: #8899A6;
}

.top_navbar .menu {
    width: calc(100%-250px);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_navbar .hamburger i {
    font-size: 25px;
    cursor: pointer;
}

nav {
    padding: 0 0;
    top: 60px;
    width: 0;
}

#side_navbar {
    /* width should be 200px later in js*/
    width: 0;
    height: 100%;
    background-color: #192734;
    position: absolute;
    overflow-x: hidden;
    left: 0;
    padding: 20px 30px;
    float: left;
}

#side_navbar .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#side_navbar ul {
    list-style: none;
    position: relative;
    padding: 0 0;
}

#side_navbar ul li {
    padding: 10px 0;

}

#side_navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

#side_navbar ul li a i {
    font-size: 22px;
    margin-right: 20px;
}

#side_navbar ul li:hover a{
    color: #8899A6;
    transition: 0.3s;
}

.content {
    left: 0;
    height: 100%;
    padding: 60px 100px;
    color: #8899a6;
}

.content h1 {
    font-size: 80px;
}

.timer-container {
    left: 0;
    padding: 60px 50px;
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    justify-content: center;
}

.timer-labels {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 10rem;
    box-shadow: -1px -1px 21px 8px rgba(0,0,0,0.7);
    -webkit-box-shadow: -1px -1px 21px 8px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px -1px 21px 8px rgba(0,0,0,0.7);
}

.timer-labels p {
    opacity: .8;
    transition: 1s ease-in;
}

.timer-labels p:active {
    opacity: 1;
    color: #192734;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    box-shadow: -1px -1px 21px 8px rgba(0,0,0,0.7);
    -webkit-box-shadow: -1px -1px 21px 8px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px -1px 21px 8px rgba(0,0,0,0.7);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: #22303C;
}

.circle ::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: #8899a6;
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 5.6rem;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -.5rem;
}